version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:20.10
    steps:
      - checkout
      
      # --- THE FIX IS HERE ---
      - run:
          name: Install Dependencies
          command: npm install
      # -----------------------

      - run:
          name: Run Tests
          command: npm run test

workflows:
  sample-workflow:
    jobs:
      - build-and-test